div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 8px;
  text-align: center;
}

.bg-light {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-bottom: 3%;
}

h1,
h2,
h3 {
  text-align: center;
}

#button-one {
  margin-left: 50%;
}

#button-two {
  margin-left: 50%;
}

.button {
  margin-top: 10%;
}
