@{
  Layout = "_Layout";
}

@using Factory.Models
<h1 class="display-4 lh-1 mb-4">Engineers</h1>

@if (((List<Factory.Models.Engineer>)ViewData["engineers"]).Count == 0)
{
    <section class="bg-light">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">No engineers have been added yet!</p>
            </div>
        </div>
    </div>
  </section>
} 

  @foreach(Engineer engineer in (List<Factory.Models.Engineer>)ViewData["engineers"])
  {
  <section class="bg-light">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">@Html.ActionLink($"{engineer.Name}", "Details", "Engineers", new { id = engineer.EngineerId })</p>
            </div>
        </div>
    </div>
  </section>
  }

  <h1 class="display-4 lh-1 mb-4">Machines</h1>

@if (((List<Factory.Models.Machine>)ViewData["machines"]).Count == 0)
{
  <section class="bg-light">
      <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">No machines have been added yet!</p>
            </div>
        </div>
    </div>
  </section>
} 

@foreach (Machine machine in (List<Factory.Models.Machine>)ViewData["machines"])
{
    <section class="bg-light">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
            <div class="col-12 col-lg-5">
                <p class="lead fw-normal text-muted mb-5 mb-lg-0">@Html.ActionLink($"{machine.Name}", "Details", "Machines", new { id = machine.MachineId })</p>
            </div>
        </div>
    </div>
  </section>

}